.vModal {
  background: skyblue;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
  border-radius: 10px;
  padding: 20px;
}

.vModal .title {
  display: flex;
  justify-content: space-between;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a.active {
  /* background: pink; */
  font-weight: bold;
  color: blue;
}

.submenu a.active {
  font-weight: bold;
}
